<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My website</title>
</head>

<body>
    <h1>Hello World {{5 + 3}}</h1>
    <h2>random number: {{ num }}</h2>
    <form action="/login" method="post">
        <label for="username">username</label>
        <input type="text" , placeholder="username" , name="username">
        <label for="password">password</label>
        <input type="text" , placeholder="password" , name="password">
        <button type="submit">submit</button>
    </form>
</body>
<footer>Copyright {{year}}. Built by {{name}}</footer>

</html>